---
layout: default
---

<div class="spacer" id="spacer"></div>

{%- assign chapters = site.data.chapters | where: "file", page.file %}
{%- assign chapter = chapters[0] %}

{%- assign parts = site.data.parts | where: "name", chapter.part %}
{%- assign part = parts[0] %}

{%- assign num = chapter.number | minus: 1 %}
{%- assign previous = site.data.chapters | where: "number", num %}
{%- assign num = chapter.number | plus: 1 %}
{%- assign next = site.data.chapters | where: "number", num %}

<div class="container" id="content">

<div class="row">
<div class="col-md-4 chapter-prev">
{%- if previous[0] %}
  <a class="btn chapter-button bg-{{ part.color }}" href="{{ site.baseurl }}/{{ previous[0].part }}/{{ previous[0].file }}">&larr; {{ previous[0].title }}</a>
{%- endif %}
</div>
<div class="col-md-4 chapter-up">
  <a class="btn chapter-button bg-{{ part.color }} mx-auto" style="display: inline-block;" href="{{ part.link }}">&uarr; {{ part.title }} &uarr;</a>
</div>
<div class="col-md-4 chapter-next">
{%- if next[0] %}
  <a class="btn chapter-button bg-{{ part.color }}" href="{{ site.baseurl }}/{{ next[0].part }}/{{ next[0].file }}">{{ next[0].title }} &rarr;</a>
{%- endif %}
</div>
</div>

<hr />

<h1>Chapter {{ chapter.number }}: {{ chapter.title }}</h1>

{{ content }}

<hr />

<div class="row">
<div class="col-md-4 chapter-prev">
{%- if previous[0] %}
  <a class="btn chapter-button bg-{{ part.color }}" href="{{ site.baseurl }}/{{ previous[0].part }}/{{ previous[0].file }}">&larr; {{ previous[0].title }}</a>
{%- endif %}
</div>
<div class="col-md-4 chapter-up">
  <a class="btn chapter-button bg-{{ part.color }} mx-auto" style="display: inline-block;" href="{{ part.link }}">&uarr; {{ part.title }} &uarr;</a>
</div>
<div class="col-md-4 chapter-next">
{%- if next[0] %}
  <a class="btn chapter-button bg-{{ part.color }}" href="{{ site.baseurl }}/{{ next[0].part }}/{{ next[0].file }}">{{ next[0].title }} &rarr;</a>
{%- endif %}
</div>
</div>

</div>
